/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Raleway', sans-serif;
}

b,strong {
    font-weight: bold;
}

nav ul a,
nav .brand-logo {
  color: #1565c0;
}

nav .brand-logo {
  font-family: 'Bungee Shade', cursive;
}

.nav-wrapper {
  padding: 0 50px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 120px;
  margin-left: 58%;
  margin-top: auto;
}

p {
  line-height: 2rem;
  text-align: justify;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%;
}

.header {
  margin-top: 8%;
  margin-left: 58%;
}

.header-subtitle {
  margin-top: 5%;
  font-size: 1.3em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .nav-wrapper {
    padding: 0 10px;
  }

  .header {
    margin-top: 8%;
    margin-left: 10%;
    height: 100%;
    width: 100%;
  }

  p {
    text-align: justify;
    margin-top:100%;
    margin-left: 10%;
  }

  img {
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 50%;

  }
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}

.section-registrazione {
  height: 100%;
  width: 100%;
}

.registrazione-icon {
  font-size: 7em;
  margin-top: 60px;
}

.registrazione-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
  line-height: 2em;
}

.btn-registrazione {
  width: 100%;
}

.ospita-icon {
  font-size: 7em;
  margin-top: 60px;
}

.ospita-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
  line-height: 2em;
}

.btn-ospita {
  width: 100%;
}

.section-footer {
  height: 100%;
  width: 100%;
  margin-top: 8%;
}

footer.page-footer {
  margin: 0;
  background-color:#BA1F33;
}

.social-icon {
  font-size: 1.5em;
  color: #ffffff;
  padding: 0 20px;
}

.social-icon:hover {
  color: #FF7F50;
}

div {
    display: block;
}

::selection {
    background: #9cbdc2;
    color: #ffffff;
    text-shadow: none;
}
